.container {
  text-align: center;
  background: rgb(255, 250, 181);
  background: linear-gradient(#fceabb, #fceabc);
}
.canvas {
  border: 1px dashed #fceabb;
  background: white;
}
.snapshot {
  display: none;
}
video {
  display: none;
}
