.container {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background: rgb(255, 250, 181);
  background: linear-gradient(#fceabb, #fceabc);
}
.canvas {
  border: 1px dashed #fceabb;
  background: white;
}
.snapshot {
  display: none;
}

video {
  display: none;
}
