.bulletContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  padding-top: 16vh;
  padding-left: 4vw;
  padding-right: 4vw;
  height: calc(100% - 16vh);
  width: calc(100% - 8vw);
}

.bulletContent .title {
  display: inline-flex;
  font-size: 8vh;
}

.bulletContent > div {
  text-align: left;
  height: auto;
  display: inline-flex;
  font-size: 4vh;
  list-style-type: disc;
}
