.titleContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.titleContent .title {
  display: inline-flex;
  text-align: center;
  font-size: 20vh;
  padding: 2vh;
}

.titleContent .subtitle {
  display: inline-flex;
  text-align: center;
  font-size: 8vh;
  padding: 2vh;
}
