.svgContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* height: calc(100% - 16vh); */
}

.svgContent .title {
  display: inline-flex;
  font-size: 8vh;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.svgContent svg {
  display: inline-flex;
  margin: 0 auto;
  height: calc(100% - 8vh);
}
